@font-face {
  font-family: 'TT Lakes-Regular';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT LakesBold';
  src: url('../fonts/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT LakesLite';
  src: url('../fonts/TTLakes-Light.eot');
  src: local('TT Lakes Light'), local('TTLakes-Light'),
    url('../fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Light.woff') format('woff'),
    url('../fonts/TTLakes-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes-Medium';
  src: url('../fonts/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-family: TT Lakes-Regular;
  margin: 0;
  padding: 0;
}

// body {
//   font-family: 'Arial', sans-serif;
// }

.m-none,
.m-none-2 {
  display: none;
}

.m-display-none {
  display: none;
}

.m-header {
}

.m-header__wrapper {
  padding: 18px 16px;
  display: flex;
  margin-top: 20px;

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  align-items: center;
}

.m-header__menu-burger {
  z-index: 60 !important;
}

.m-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: rgba(255, 62, 121, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.m-header__menu-burger {
}

@media (min-width: 768px) {
  .m-header__wrapper {
    padding: 15px 0;
    padding-right: 30px;
    padding-left: 20px;
  }
}
.m-header__logo {
  margin-right: 15px;

  @media (min-width: 768px) {
    margin-right: auto;
    margin-left: 5px;
    .m-header__wrapper {
      padding: 35px 31px;
    }
  }
}
.m-header__menu_left {
  display: flex;
}
.m-header__menu_left::before {
  content: ' ';
  width: 2px;
  height: 32px;
  background-color: rgba(234, 234, 234, 1);
  border-radius: 1px;
  position: relative;
  left: -20px;
  top: 5px;
}
.m-header__seatings {
  margin-right: 16px;
}
.m-header__search {
}

.m-open {
  display: flex !important;
}

.m-popup-menu__regular {
  display: flex;
  margin-bottom: 24px;
}

.m-icon-mb-m {
  margin-bottom: 10px;
}

h1 {
  font-family: TT Lakes-Regular;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;

  /* padding: 10px 0; */
  padding-left: 24px;
  padding-top: 24px;

  position: relative;
}

/* h1::before{
  content: ' ';
  width: 8px;
  height: 40px;
  position: absolute;
  background-color: rgba(65, 246, 215, 1);
  border-radius: 10px;
  left: -4px;
} */

/* ----------------------------- */

.m-title {
}
.m-services-tabs {
  /* display: flex;/
  overflow: auto; */
  padding: 0 16px;
  margin-bottom: 24px;
}
.m-services-tabs__item {
  display: block;
  /* display: inline-block; */
  background-color: white;
  border: none;
  color: black;
  font-family: TT Lakes-Regular;
  background-color: none;
  /* white-space: nowrap; */
  /* padding: 5px 15px; */
  height: 40px;
  font-size: 16px;
  border: solid 2px rgba(184, 255, 236, 0);
  transition: all linear 0.2s;
  position: relative;
}
.m-services-tabs__item_active:hover:before {
  content: ' ';
  width: 8px;
  height: 32px;
  /* top: 10px; */
  position: absolute;
  background-color: rgba(65, 246, 215, 1);
  border-radius: 10px;
  left: -22px;
  top: 4px;
  color: rgba(126, 126, 130, 1);
}

.m-services-tabs__item_active:hover {
  color: rgba(126, 126, 130, 1);
}

.m-main-text {
  font-family: TT LakesLite;
  margin-bottom: 16px;
}

p {
  margin: 0;
}

.m-main-text p {
  font-family: TT LakesLite;
  padding: 0 15px;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: rgba(27, 28, 33, 1);
}

.m-read-more {
  font-family: TT Lakes-Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  border: none;
  display: inline-block;
  background-color: rgba(248, 248, 248, 1);
  margin-left: 16px;
  margin-bottom: 16px;
}
.m-read-more__img {
  /* display: inline-block; */
  /* padding: 10px; */
  margin-right: 16px;
}
.m-read-more__text {
}
.m-image__img {
  width: 100%;
}

.m-display-none {
  display: none;
}

.m-body__wrapper {
  max-width: 1763px;
  margin: 0 auto;
}

.l-menu-block {
  box-sizing: border-box;
  max-width: 320px;
  /* box-shadow: 10px 5px 20px gray; */

  @media (max-width: 768px) {
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
      -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  }
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.m-wrapper {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 87vh;
}

.m-wrapper-tabs {
  flex-grow: 1;
  flex-shrink: 2;
}

.m-fotter {
  position: relative;
  /* top: -100px; */
  overflow: hidden;
  clear: both;
  margin-left: 24px;
}

.m-l-icon {
  margin-right: 16px;
}

.m-footer-info--mail {
  font-family: 'TT Lakes-Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  margin-bottom: 10px;
}

.m-footer-info--phone {
  font-family: 'TT LakesBold';

  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  margin-bottom: 35px;
}

.m-icon:hover {
  transition: opacity 0.2s;
  opacity: 0.7;
  cursor: pointer;
}

.m-services-tabs__item:hover {
  cursor: pointer;
}

@media (max-width: 708px) {
  .m-wrapper {
    min-height: 80vh;
  }

  .m-wrapper-tabs {
    flex-grow: 0;
    flex-shrink: 2;
  }
  .m-services-tabs {
    margin-bottom: 0 !important;
  }
}

.l-menu-block {
  background-color: #fff;
  min-width: 320px;
  @media (min-width: 768px) {
    position: sticky;
    // flex: 1;
    top: 0;
  }
}

.m-cross {
  display: none;
}

@media (min-width: 768px) {
  .m-header__wrapper {
    // justify-content: space-between;
  }
  .m-header__search {
    // align-self: flex-end;
    // margin-right: auto;
  }
}

.l-menu-block {
  transition: all ease-in 0.3s;
}

@media (max-width: 1119px) {
  .l-menu-block {
    position: absolute;
    left: -520px;
    transform: translate(-520px, 0);
    transition: all ease-in 0.3s;
    z-index: 200;
  }

  .m-header__wrapper {
    justify-content: space-between;
    margin-top: 0;
  }

  .m-header__logo {
    margin: 0;
  }
  .m-cross {
    display: inline-flex;
  }
}

.menu-trans {
  position: fixed;
  left: 0;
  transform: translate(0, 0);
  transition: all ease-in 0.3s;
  z-index: 200;
}

.menu__overlay {
  position: absolute;
  width: 0vw;
  height: 0vh;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  // display: none;
  transition: opacity linear 1s;
  // height: 0;
  opacity: 0;

  transition: all ease-in 0.3s;
}

.d-block {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.93;
  display: block !important;
  left: 0;
  transform: translate(0, 0);
  transition: all ease-in 0.3s;
  z-index: 12;
}

@media (max-width: 1119px) {
  .l-menu-block {
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
      -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  }
}
