.types-item {
  // display: block !important;
  height: 180px !important;
  flex-direction: column;
  // justify-content: start;
  align-items: end !important;
  text-align: left !important;
}

.types-item__text {
  align-self: start;
}

@media (min-width: 500px) {
  .display-none-desc {
    display: none !important;
  }
}

@media (min-width: 500px) {
  .show-types {
    max-height: 850px !important;
    transition: max-height 1s;
  }
}

@media (min-width: 500px) and (max-width: 751px) {
  .show-types {
    max-height: 970px !important;
    transition: max-height 1s;
  }
}
