.footer-page {
  background-color: rgba(248, 248, 248, 1);
}

.footer-page__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;

  text-align: right;
  padding: 50px 33px 21px 31px;
}

.footer-page__team {
  // display: inline-block;
  max-width: 218px;
  text-align: left;
  // margin-right: 10px;
}

.footer-page__polisy {
  max-width: 214px;
  text-align: left;
}
.footer-page__info {
  text-align: right;
  max-width: 330px;
}

@media (max-width: 874px) {
  .footer-page__wrapper {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .footer-page__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-page__team,
  .footer-page__polisy,
  .footer-page__info {
    text-align: center;
    margin-bottom: 16px;
  }
  .footer-page__info {
    margin-bottom: 0;
  }
}
